a.l-btn {
  background-position: right 0;
  text-decoration: none;
  display: inline-block;
  zoom: 1;
  height: 24px;
  padding-right: 18px;
  cursor: pointer;
  outline: none;
}

a.l-btn {
  color: #444;
  background-image: url('images/hui.gif');
  background-repeat: no-repeat;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
