<!DOCTYPE HTML>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" th:href="@{/static/h-ui/css/H-ui.min.css}" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" th:href="@{/static/h-ui.admin/css/H-ui.admin.css}" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" th:href="@{/static/h-ui.admin/skin/default/skin.css}" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css"  th:href="@{/static/h-ui.admin/css/style.css}"/>
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>我的桌面</title>
</head>
<body>
<div class="page-container">
	<img src="images/admin_exit.jpg" style="height:100%; width:100%"  th:src="@{/images/ftkj.jpg}">
</div>
<footer class="footer mt-20">
	<div class="container">
		天津丰拓科技有限公司是一家集研发、生产、技术服务为一体的镀铬整体设备及新型镀铬添加剂的高新技术企业。
		公司自创立以来，秉持“诚信、品质、专业”的企业精神，不断创新，不断奋斗，不断进步。公司依靠人才资源和技术优势，
		充分发挥科技创新能力，致力于镀铬整体设备及镀铬添加剂的开发和生产。
		作为一家专业的镀铬设备及镀铬添加剂生产企业我们密切关注客户的需求，
		以提供优质产品和帮助客户降低生产成本为己任，不断开发出令客户满意的产品，高效快速地帮助客户解决生产上的问题。
		公司在高速发展的过程中,不断与国内多名资深电镀技术...
	</div>
</footer>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script> 
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js" th:src="@{/static/h-ui/js/H-ui.min.js}"></script> 

</body>
</html>